

@tailwind base;

@tailwind components;
@layer components {
   .btn {
  @apply hover:bg-lime-600 hover:text-red-700 px-4 py-2 rounded-md bg-blue-500 text-white transition-all duration-1000 ease-in-out;
}
.mybutton {
  @apply bg-gray-500 hover:bg-blue-500 border border-gray-500 rounded-md p-4 shadow-md;
}
.hamburger {
  display: none;
  cursor: pointer;
}

.bar {
  transition: transform 0.3s ease-in-out;
}

.nav {
  display: flex;
  flex-direction: row;
  align-items: center;
}

@media (max-width: 768px) {
  /* .nav {
    display: none;
  } */

  /* .hamburger {
    display: flex;
  }

  .hamburger.open .bar:nth-child(1) {
    transform: translateY(5px) rotate(45deg);
  }

  .hamburger.open .bar:nth-child(2) {
    opacity: 0;
  }

  .hamburger.open .bar:nth-child(3) {
    transform: translateY(-5px) rotate(-45deg);
  } */
}}
@tailwind utilities;
